.classcount {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 10rem auto;
    width: 50%;
    background-color: grey;
}

.classcount button {
    font-size: 1rem;
    margin: 2rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: lightblue;
}

.classcount button:hover {
    color: red;
}

.classcount h1 {
    position: absolute;
    top: 5px;
    color: palevioletred;
}

.classcount h2 {
    font-size: 2rem;
    color: blue;
}